body
{
  font-family: monospace;
  margin: 0px;
  padding: 20px;
  color: white;
  background: black;
  white-space: pre;
  font-size: 14pt;
}

a:link
{
	color: #22cc44;
	text-decoration: none;
}

a:visited
{
	color:#009944;
	text-decoration: none;
}

a:hover
{
	background: white;
	color: black;
}
