<div class="splash-container">
    <div id="splash-canvas-wrapper">
        <canvas id="splash-canvas"></canvas>
    </div>
    <div class="splash-info container">
        <h1>the dio design lab</h1>
        <p>
            Synthesizing silicon and intelligence through low-level systems
            experimentation and architectural analysis.
        </p>
        <p>
            Happily wandering off the beaten track to see what happens when
            you mix new programming environments, emerging designs, and a
            little too much curiosity. And a sprinkle of procrastination.
        </p>
    </div>
</div>

<script src="/splash.js"></script>