<div class="row">
    <div class="column left">
        <div class="eight-point-star"></div>
    </div>
    
    <div class="column right">
    <h1>the <b>dio design</b> program</h1>
    
    <p>
        <a href="{{ site.baseurl }}">Home</a> //
        <a href="{{ site.baseurl }}about/">About</a> /
        <a href="{{ site.baseurl }}notes/">Notes</a> /
        <a href="{{ site.baseurl }}code/">Code</a>
    </p>
    </div>    
</div>

<div class="row">
    <div class="column left">
        &nbsp;
    </div>
    
    <div class="column right">
