---
layout: base
---

{{ content }}

{% for content in site.data.featured.content %}
  {% if forloop.first %}
    <h2>Featured work</h2>
  {% endif %}

  <div class="featured_work">
    {%- include featured.html -%}

    {% assign page = site.documents | where: "url", content.url | first %}
    <p><a href="{{ content.url }}">{{ page.title }}</a></p>
    <p>{{ content.description }}</p>
  </div>
{% endfor %}

{% if site.posts %}
  <p>
    <h3>Or start here</h3> <a href="{{site.posts[0].url}}">{{ site.posts[0].title }}</a>
  </p>
{% endif %}