---
layout: base
---

<h2>{{ page.title }}</h2>

{% if page.hero %}
  <p>
    {% include hero.html %}
  </p>
{% endif %}

{% include attributes.html %}

{{ content }}

{% if page.links %}
  <h2>Links</h2>
  <ul>
    {% for entry in page.links %}
      <li>
        <p>
          <a rel="nofollow" href="{{ entry.url }}">{{ entry.label }}</a>
        </p>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if page.contributors %}
  <h2>Contributors</h2>
  <p>
    {% for entry in page.contributors %}
      {% assign author = site.authors | where: "author", entry | first -%}
      {% if author -%}
        <a rel="nofollow" href="{{ author.url }}">{{ author.title }}</a>
      {%- endif -%}
      {%- unless forloop.last -%},
      {% endunless %}
    {% endfor %}
  </p>
{% endif %}